@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    margin: 0;
    top: 0;
    /* box-sizing: border-box; */
}

footer {
    background: url(/imagens/bck.png);
    width: 100%;
    height: 500px;
    bottom: 0;
    margin-top: -11rem;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;


    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Paytone One", sans-serif;
    color: white;

    @media(max-width:1250px) {

        footer {
            justify-content: space-between;
            height: 200px;
        }

        .colabs {
            font-size: 18px;
        }

        .imgfooter {
            img {
                height: 37px;
            }

            .vaca {
                height: 57px;
            }
        }

        .redes {
            img {
                height: 30px;
                padding: 5px;
            }
        }

        .membros {
            font-size: 18px;
        }

        .baixo {
            font-size: 18px;

            gap: 2rem;
        }
    }

    @media(max-width:1050px) {

        footer {
            justify-content: space-between;
            height: 200px;
        }

        .colabs {
            font-size: 16px;
        }

        .imgfooter {
            img {
                height: 30px;
            }

            .vaca {
                height: 55px;
            }
        }

        .redes {
            img {
                height: 25px;
                padding: 5px;
            }
        }

        .membros {
            font-size: 16px;
        }

        .baixo {
            font-size: 20px;
            gap: 2rem;
        }
    }

    @media(max-width:730px) {

        height: 700px;
        background-position: left;

        .infos {
            flex-direction: column;
        }

        .geral {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            margin-top: 5rem;
        }

        .colabs {
            font-size: 18px;
        }

        .redes {
            margin-top: 3rem;
        }

        .membros {
            display: none;
        }

        .baixo {
            font-size: 18px;
            flex-direction: column;
            gap: 5px;
        }
    }

}

.geral {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    padding: 1rem;
}

.infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colabs {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.imgfooter {
    align-items: center;
    display: flex;

    img {
        height: 40px;
        padding: 5px;
    }

    .vaca {
        height: 65px;
    }
}

.redes {
    margin-top: 12rem;

    img {
        height: 28px;
        padding: 8px;
        transition: 0.3s ease;
    }


    img:hover {
        filter: brightness(0) saturate(100%) invert(70%) sepia(25%) saturate(637%) brightness(100%) contrast(97%);
    }
}

.membros {
    font-size: 19px;
    text-align: right;

    h3 {
        padding: 2px;
    }
}

.baixo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 4.5rem;
}

.bx {
    background-color: transparent;
    height: auto;
    width: auto;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 35px;

    &:hover {
        background-color: #FDCB6E;
        color: #212121;
        transition: 0.3s;
    }
}

a {
    text-decoration: none;
    color: white;
}