@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.base-header {
    --espacamento-horizontal: 40px;
    background-color: #212121;
    padding: 10px var(--espacamento-horizontal);
    display: flex;
    justify-content: center;
    position: relative; 
    z-index: 1000; 
}

.conteudo-header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.conteudo-logo {
    display: flex;
    align-items: center;
}

.conteudo-logo img {
    width: 180px; 
    height: auto;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.main-nav li {
    margin-left: 30px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 7px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-nav a.active {
    background-color: #FDCB6E;
    color: #212121;
}

.naoactive:hover {
    color: #FDCB6E;
}


.menu-toggle {
    display: none;
}

@media (max-width: 1000px) {
    .menu-toggle {
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 1001;
    }

    .menu-toggle .bar {
        width: 30px;
        height: 3px;
        background-color: white;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(6px, 7px);
    }
    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
    }
 main{
        background-color: #f0f0f0; 
 }
 
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        max-width: 300px;
        height: 100vh;
        background-color: #212121;
        
       
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out; 
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-nav.active {
        transform: translateX(0);
    }

    .main-nav ul {
        flex-direction: column;
        gap: 25px; 
        width: 100%;
        text-align: center;
    }

    .main-nav li {
        margin: 0;
    }
}