@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: url(/imagens/BANNER.png);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
    z-index: 1;
    align-items: center;
    justify-content: center;

}

.geralBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topo {
    font-family: "Cherry Bomb One", system-ui;
    font-size: 60px;
    text-align: center;
    padding: 4rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

img {
    height: 90px;
}

.buraco {
    background: url(/imagens/Ellipse\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    height: 240px;
    width: 100%;
    margin-bottom: -11.6rem;
    transform: rotate(0.5deg);
    z-index: 1;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.colunas {
    display: flex;
    gap: 4rem;
    z-index: 2;
    position: relative;
    align-items: end;
    margin-bottom: -17rem;
    justify-content: center;
}

.posicao {
    width: 100%;
    height: 8rem;
    background-color: rgba(33, 33, 33, 1);
    border-radius: 30px;
    font-size: 4.2rem;
    color: white;
    font-family: "Cherry Bomb One", system-ui;
    align-items: center;
    text-align: center;
       box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.colunas>.coluna1,
.colunas>.coluna2,
.colunas>.coluna3 {
    
    transform: translateY(200px);
    opacity: 0;
    transition: transform 700ms cubic-bezier(.2, .8, .2, 1), opacity 700ms ease;
}

.colunas>.coluna1.show,
.colunas>.coluna2.show,
.colunas>.coluna3.show {
    transform: translateY(0);
    opacity: 1;
}

.coluna {
    width: 100%;
    background-color: rgba(255, 200, 113, 1);
    height: 100%;
    border-radius: 30px;
    gap: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
       box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    .colunas>div.show {
        transform: translateY(0);
        opacity: 1;
    }

    .turma {
        font-family: "Paytone one";
        font-size: 4rem;
    }

    .ensino {
        background-color: white;
        color: rgba(255, 200, 113, 1);
        font-family: "Cherry Bomb One", system-ui;
        padding: 3px;
        font-size: 20px;
        border-radius: 30px;
        width: 80%;
    }

    .litros {
        background-color: white;
        width: 90%;
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: "Cherry Bomb One", system-ui;
        font-size: 3.5rem;
        border-radius: 20px;
    }
}


.coluna2 {
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 33rem;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.coluna1 {
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 38rem;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.coluna3 {
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 29rem;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.bigColuna {
    background: url(/imagens/Rectangle\ 21.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 3100px;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: relative;
}

.classificacoes {
    margin-top: 10rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.classificacao {
    display: flex;
    background-color: white;
    width: 500px;
    height: 80px;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
    padding: 10px;
       box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
}



.ano {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Paytone one";
    text-align: center;
}

.classe {
    font-size: 2.3rem;
}

.etapa {
    color: white;
    background-color: black;
    text-align: center;
    align-items: center;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4rem;
    font-size: 17px;
    font-family: "Cherry Bomb One", system-ui;
}

.posi {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Cherry Bomb One", system-ui;
    height: 90%;
    width: 30%;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}

.li {
    font-size: 4rem;
    font-family: "Cherry Bomb One", system-ui;
    text-align: center;
}

.total {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 510px;
    background-color: rgba(255, 200, 113, 1);
    align-items: center;
    border-radius: 3rem;
       box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    h1 {
        font-family: "Cherry Bomb One", system-ui;
        font-size: 5rem;
    }

    p {
        font-family: "Paytone one";
        font-size: 20px;
    }
}

.ttl {
    background-color: black;
    width: 100%;
    height: 30%;
    border-radius: 2rem;
    text-align: center;

    h1 {
        font-family: "Cherry Bomb One", system-ui;
        font-size: 3.5rem;
        color: white;
    }
}


button {
    display: flex;
    justify-content: center;
    width: 50px;
    background: transparent;
    border: none;
    padding: 3rem;
    margin-bottom: 6rem;

    img {
        position: relative;
        z-index: 11;
        height: 4rem;
        transform: rotate(180deg);
    }
}